<section>
    <div class="-mx-80">
        <div class="flex flex-col justify-between py-20 bg-[#F4F6F8] px-80">
            <div class="flex flex-row">
                <div class="flex-1">
                    <span class="text-lg me-5 text-primary uppercase font-extrabold">artbox</span>
                </div>
                <div class="flex flex-row gap-x-4">
                    <mat-icon>facebook</mat-icon>
                    <mat-icon>facebook</mat-icon>
                </div>
            </div>
            <mat-divider class="my-4"></mat-divider>
            <div class="grid grid-cols-6 gap-x-4">
                <div class="flex flex-col col-span-1 gap-y-2">
                    <span class="font-bold text-black text-sm uppercase mb-2">Finding Job</span>
                    <span class="text-black opacity-70 text-xs">Actors</span>
                    <span class="text-black opacity-70 text-xs">Performers</span>
                    <span class="text-black opacity-70 text-xs">Voice Artists</span>
                    <span class="text-black opacity-70 text-xs">Creative</span>
                    <span class="text-black opacity-70 text-xs">Freelancer</span>
                    <span class="text-black opacity-70 text-xs">Influecers</span>
                    <span class="text-black opacity-70 text-xs">Content Creators</span>
                    <span class="text-black opacity-70 text-xs">Photo Models</span>
                    <span class="text-black opacity-70 text-xs">Casting Calls</span>
                    <span class="text-black opacity-70 text-xs">Advice & Guides</span>
                    <span class="text-black opacity-70 text-xs">Backstage</span>
                </div>

                <div class="flex flex-col col-span-1 gap-y-2">
                    <span class="font-bold text-black text-sm uppercase mb-2">Finding Talents</span>
                    <span class="text-black opacity-70 text-xs">Film</span>
                    <span class="text-black opacity-70 text-xs">TV Production</span>
                    <span class="text-black opacity-70 text-xs">Theater</span>
                    <span class="text-black opacity-70 text-xs">Performing Arts</span>
                    <span class="text-black opacity-70 text-xs">Voice Production</span>
                    <span class="text-black opacity-70 text-xs">Commercial</span>
                    <span class="text-black opacity-70 text-xs">Branded Content</span>
                    <span class="text-black opacity-70 text-xs">Influecers</span>
                    <span class="text-black opacity-70 text-xs">Pay Talent</span>
                </div>

                <div class="flex flex-col col-span-1 gap-y-2">
                    <span class="font-bold text-black text-sm uppercase mb-2">Company</span>
                    <span class="text-black opacity-70 text-xs">About</span>
                    <span class="text-black opacity-70 text-xs">Careers</span>
                    <span class="text-black opacity-70 text-xs">Partners</span>
                    <span class="text-black opacity-70 text-xs">Sitemap</span>
                    <span class="text-black opacity-70 text-xs">Articles Archive</span>
                    <span class="text-black opacity-70 text-xs">Privacy</span>
                </div>

                <div class="flex flex-col col-span-1 gap-y-2">
                    <span class="font-bold text-black text-sm uppercase mb-2">Support</span>
                    <span class="text-black opacity-70 text-xs">Help Center</span>
                    <span class="text-black opacity-70 text-xs">Contact Us</span>
                    <span class="text-black opacity-70 text-xs">Pricing</span>
                    <span class="text-black opacity-70 text-xs">Advertising</span>
                    <span class="text-black opacity-70 text-xs">Report Content</span>
                    <span class="text-black opacity-70 text-xs">Term of Service</span>
                </div>

                <div class="flex flex-col col-span-2 gap-y-2">
                    <div class="flex flex-row bg-white px-4 py-2 rounded-md items-center text-primary w-fit">
                        <mat-icon style="width: 18px; height: 18px; font-size: 18px;">location_ping</mat-icon>
                        <mat-divider vertical class="h-full mx-2"></mat-divider>
                        <span class="text-xs text-black">СБД, 7-р хороо, Централ Тауэр, 1207</span>
                    </div>

                    <div class="flex flex-row bg-white px-4 py-2 rounded-md items-center text-primary w-fit">
                        <mat-icon style="width: 18px; height: 18px; font-size: 18px;">call</mat-icon>
                        <mat-divider vertical class="h-full mx-2"></mat-divider>
                        <span class="text-xs text-black">70035838, 70053858</span>
                    </div>

                    <div class="flex flex-row bg-white px-4 py-2 rounded-md items-center text-primary w-fit">
                        <mat-icon style="width: 18px; height: 18px; font-size: 18px;">mail</mat-icon>
                        <mat-divider vertical class="h-full mx-2"></mat-divider>
                        <span class="text-xs text-black">hello&#64;artbox.mn</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-[#E4E8EB] flex py-3 items-center justify-center px-40">
            <span class="text-xs font-thin">&copy; 2024 Artbox, All rights reserved</span>
        </div>
    </div>
</section>