<section>
    <div class="w-full py-6 px-80">
        <div class="flex flex-row justify-between">
            <ul class="flex gap-x-20 flex-row justify-between items-center text-sm">
                <li class="text-lg me-5 text-primary uppercase font-extrabold">artbox</li>
                <li>Ажил хайх</li>
                <li>Артист олох</li>
                <li>Артист танд</li>
                <li>Сэтгүүл</li>
            </ul>

            <div class="flex flex-row">
                <button matRipple class="flex items-center border rounded-full p-3">
                    <mat-icon color="primary" style="width: 18px; height: 18px; font-size: 18px;">movie</mat-icon>
                    <span class="ms-2 text-primary">Post a Job</span>
                </button>
                <button matRipple class="flex items-center bg-primary p-3 rounded-full text-white ms-3">
                    <mat-icon style="width: 18px; height: 18px; font-size: 18px;" class="text-white">account_box</mat-icon>
                    <span class="ms-2">Join backstage</span>
                </button>
            </div>
        </div>
    </div>
</section>