.category-banner {
    -webkit-box-shadow: inset 0px -200px 100px 2px rgba($color: #000000, $alpha: 0.9);    
    -moz-box-shadow: inset 0px -200px 100px 2px rgba($color: #000000, $alpha: 0.9);
    box-shadow: inset 0px -200px 100px 2px rgba($color: #000000, $alpha: 1);
}